[Unit]
Description=uWSGI instance to serve greedierbutt
After=network.target

[Service]
WorkingDirectory=/home/greedierbutt/gbflask
Environment="PATH=/home/greedierbutt/gbflask/.venv/bin"
ExecStart=/home/greedierbutt/gbflask/.venv/bin/uwsgi -H /home/greedierbutt/gbflask/.venv --ini greedierbutt.ini

[Install]
WantedBy=multi-user.target
