<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>{% block title %}{% endblock %} - Greedier Butt</title>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

        <link href="/static/bs-greedierbutt.css?ver=0.5" rel="stylesheet">
        <link rel="icon" href="/static/greedierbutt.png">
    </head>
    <body data-bs-theme="dark">
        <nav class="navbar fixed-top navbar-expand-lg bg-primary ps-3 pe-3">
            <a class="navbar-brand" href="/">Greedier Butt</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
                {% if session.get('steamid', 00000)|is_moderator and g.pending_reviews|length > 0 -%}<span class="badge rounded-pill text-bg-{% if g.pending_reviews|length > 0 -%}danger{% else %}secondary{% endif %}">{{ g.pending_reviews|length }}</a>{% endif %}
            </button>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('daily_bp.top', leaderboard='100') }}">Top 100</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">DLC: {% if g.dlc == "abp" -%}Afterbirth+{% elif g.dlc == "ab" -%}Afterbirth{% else -%}Repentance{% endif %}</a>
                        <div class="dropdown-menu bg-dark">
                            <h6 class="dropdown-header">Switch to...</h6>
                            <a href="https://www{{g.domain}}/" class="dropdown-item nav-link ps-2 {% if g.dlc == "rep" -%}disabled{% endif %}">Repentance</a>
                            <a href="https://abp{{g.domain}}/" class="dropdown-item nav-link ps-2 {% if g.dlc == "abp" -%}disabled{% endif %}">Afterbirth+</a>
                            <a href="https://ab{{g.domain}}/" class="dropdown-item nav-link ps-2 {% if g.dlc == "ab" -%}disabled{% endif %}">Afterbirth</a>
                        </div>
                    </li>
                    {% if session.get('steamid', 00000)|is_moderator -%}
                    <li>
                        <a class="nav-link" href="{{ url_for('moderator_bp.moderator') }}" data-bs-toggle="tooltip" data-bs-custom-class="navbar-tooltip" title="{% if g.pending_reviews|length > 1 -%}{{ g.pending_reviews|length }} reports pending review{% elif g.pending_reviews|length == 1 %}1 report pending review{% else %}No reports pending review{% endif %}">
                            Mod Console
                            <span class="badge rounded-pill text-bg-{% if g.pending_reviews|length > 0 -%}danger{% else %}secondary{% endif %}">{{ g.pending_reviews|length }}</a>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="nav-link" href="https://github.com/pkprotoplasm/greedierbutt" title="Get the code on GitHub"><i class="bi bi-github"></i></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <form class="d-flex" action="{{ url_for("player_bp.search") }}" method="post">
                        <div class="input-group rounded">
                            <input type="search" name="player" class="form-control" placeholder="Find a player" value="{{ query|default('') }}">
                            <button class="btn btn-secondary" type="submit"><i class="bi-search"></i></button>    
                        </div>
                    </form>
                    {% if "steamid" in session.keys() and session["steamid"] != "" -%}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img src="{{ session["avatar"] }}" class="rounded-circle" alt="{{ session["personaname"] }}">
                            {{ session["personaname"] }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="{{ url_for("player_bp.player", steamid=session["steamid"]) }}" class="dropdown-item nav-link ps-2">My Page</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ url_for("loginflow_bp.logout") }}" class="dropdown-item nav-link ps-2">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for("loginflow_bp.initiate_login") }}" class="nav-link" data-bs-toggle="tooltip" data-bs-custom-class="navbar-tooltip" title="Check out your stats by signing in securely with your Steam account">Sign in with Steam</a>
                    </li>
                    {% endif %}
                </ul>    
            </div>
        </nav>
        <section style="padding-top: 4em;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages -%}
                    {% for category, message in messages %}
                        {% set alert_class = {
                            "success": "alert-success",
                            "error": "alert-danger"
                        }[category] | default("alert-info") -%}
                        <div class="alert alert-dismissible {{ alert_class }} w-50 start-50 translate-middle-x" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="container-fluid">
                {% block body %}
                {% endblock %}    
            </div>
        </section>
        <script>
            // Initialize tooltips
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
    </body>
</html>